*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
  background-color: #eeeeee;
}

.contactContainer{
    height: 100vh;
    min-height:600px;
  }
.subContainer{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 80%;
    text-align: left;
    color: white;
    padding: 3%;
    width: 50%;
    text-align: center;
  }

.principalTitle{
    text-align: center;
    font-size: 4rem;
    color: rgb(58, 58, 58);
}
.contactButton{
    color: white;
    margin-top: 0.1%;
    cursor: pointer;
    background-color: rgb(58, 58, 58);
    width: 95%;
    padding: 1.4% 0;
    text-align: center;
    border-radius: 100px;
    font-size: 1.2rem;
    border: 0;
}

.contactButton:hover{
    background-color: rgb(75, 75, 75);
}

.titulosResponsive{
  display: none;
}

#inputGroup-sizing-default{
  background-color: rgb(58, 58, 58);
  color: white;
  padding: 0 5%;
  font-size: 1.19rem;
}
#inputGroup-sizing-default-text-area{
  background-color: rgb(58, 58, 58);
  color: white;
  padding: 0 3.5%;
  font-size: 1.19rem;
}
.contactButtonResponsive{
  display: none;
}
@media screen and (max-width: 880px){
  .principalTitle{
    font-size: 3.2rem;
  }
  .subContainer{
    width: 90%;
  }
  #inputGroup-sizing-default{
    width: 17%;
  }
  #inputGroup-sizing-default-text-area{
    width: 19%;
  }
}

@media screen and (max-width: 560px){
  .principalTitle{
    font-size: 2.5rem;
  }
  .subContainer{
    width: 100%;

  }
  #inputGroup-sizing-default{
    display: none;
  }
  #inputGroup-sizing-default-text-area{
    display: none;
  }
  .titulosResponsive{
    display: flex;
    color:rgb(58, 58, 58);
    margin: 0;
  }
  .contactButton{
    display: none;
  }
  .contactButtonResponsive{
    display: block;
    color: white;
    margin-top: 0.1%;
    cursor: pointer;
    background-color: rgb(58, 58, 58);
    width: 30%;
    padding: 1.4% 0;
    text-align: center;
    border-radius: 100px;
    font-size: 1.2rem;
    border: 0;
  }
  
}

@media screen and (max-width: 320px){
  .principalTitle{
    font-size: 2.1rem;
  }
}
