*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body{
    background-color: #eeeeee;
  }
  
  .App{
    height: 100vh;
    min-height:600px;
  }
  .principalContainter{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 80%;
    text-align: center;
  }
  .title{
    font-size: 4rem;
  }
  .text{
    font-size: 2rem;
  }
  .buttonContainer{
    display: flex;
    justify-content: center;
  }
  .resumeButton{
    background-color: rgb(58, 58, 58);
    color: #fff;
    width: 20%;
    height: auto;
    padding: 3% 2%;
    margin: 2% 1%;
    font-size: 1.3rem;
  }
  
  .resumeButton:hover{
    background-color: rgb(75, 75, 75);
    cursor: pointer;
  }

  a{
    color: white;
    text-decoration: none;
    font-size: 100%;
  }
  
  a:hover{
    color: white;
    text-decoration: none;
  }
 
  @media screen and (max-width: 915px){
    .principalContainter{
      width: 100%;
    }
    .resumeButton{
      font-size: 180%;
      width: 50%;
    }
  }

  @media screen and (max-width: 500px){

    .title{
      font-size: 2.9rem;
    }
    .text{
      font-size: 1.5rem;
    }
    .resumeButton{
      font-size: 145%;
      width: 40%;
    }
  }
  
  @media screen and (max-width: 370px){

    .title{
      font-size: 2.6rem;
    }
    .text{
      font-size: 1.4rem;
    }
    .resumeButton{
      font-size: 120%;
      width: 50%;
    }
  }
  
  @media screen and (max-width: 330px){

    .title{
      font-size: 2rem;
    }
    .text{
      font-size: 1rem;
    }
    .resumeButton{
      font-size: 100%;
      width: 50%;
    }
  }
  