*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body{
    background-color: #eeeeee;
  }
  
  .App{
    height: 100vh;
    min-height:600px;
  }
  .principalContainter{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 50%;
    text-align: center;
  }
  .title{
    font-size: 4rem;
  }
  .text{
    font-size: 2rem;
  }
  .buttonContainer{
    display: flex;
    justify-content: center;
  }
  .resumeButton{
    background-color: rgb(58, 58, 58);
    color: #fff;
    width: 20%;
    padding: 3% 2%;
    margin: 2% 1%;
    font-size: 1.3rem;
  }
  
  .resumeButton:hover{
    background-color: rgb(75, 75, 75);
    cursor: pointer;
  }

  a{
    color: white;
    text-decoration: none;
  }
  
  a:hover{
    color: white;
    text-decoration: none;
  }
 
  